# Database
# Local SQLite (desenvolvimento)
DATABASE_URL="file:./dev.db"

# Production PostgreSQL (Neon, Railway, etc)
# DATABASE_URL="postgresql://user:password@host:port/dbname"

# NextAuth
NEXTAUTH_SECRET="gere-um-secret-aleatorio-seguro-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Para produção:
# NEXTAUTH_URL="https://seu-dominio.com"
